<script setup></script>

<template>
	<footer>
		<div class="flex justify-center bg-blue-400 px-5 mt-12">
			<span class="text-6xl text-center text-red-700 md:text-3xl">
				Спасибо за внимание!!!
			</span>
		</div>
	</footer>
</template>
