<script setup>
const $props = defineProps(['emptyTodo'])
</script>

<template>
	<picture class="w-full h-[27.5rem] sm:h-[17.5rem] flex" v-if="emptyTodo">
		<source srcset="/webp/empty.webp" />
		<img class="object-cover w-full" src="/img/empty.jpg" alt="empty" />
	</picture>
</template>
