<script setup>
import { ref } from 'vue'

const $emits = defineEmits(['addTask'])

const todoTitle = ref('')

function onSubmit() {
	todoTitle.value && $emits('addTask', todoTitle.value)
	todoTitle.value = ''
}
</script>

<template>
	<form class="add-task mt-20" @submit.prevent="onSubmit">
		<div class="mt-4 flex flex-col gap-5">
			<input
				class="w-full text-lg border-b-2 border-gray-500 text-black"
				type="text"
				placeholder="Введите название задачи"
				v-model="todoTitle"
			/>
			<button
				class="ml-2 w-max border-2 border-green-500 p-2 text-green-500 hover:text-white hover:bg-green-500 rounded-lg flex"
			>
				<span>Добавить</span>
			</button>
		</div>
	</form>
</template>
