<script setup></script>

<template>
	<nav>
		<ul class="flex gap-14 px-5">
			<li class="group p-3 cursor-pointer">
				<RouterLink to="/" class="flex items-center gap-4">
					<svg class="w-5 h-5">
						<use xlink:href="/stack/svg/sprite.stack.svg#home"></use>
					</svg>
					<span class="text-[1rem] uppercase">Home</span>
				</RouterLink>
			</li>
			<li class="group p-3 cursor-pointer">
				<RouterLink to="privacy-policy" class="flex items-center gap-4">
					<svg class="w-5 h-5">
						<use xlink:href="/stack/svg/sprite.stack.svg#info"></use>
					</svg>
					<span class="text-[1rem] uppercase">Info</span>
				</RouterLink>
			</li>
		</ul>
	</nav>
</template>
