<script setup>
const $props = defineProps(['todo'])
const $emits = defineEmits(['formatRenderList', 'editTodo', 'deleteTodo'])
</script>

<template>
	<div class="flex gap-4 w-full">
		<input
			type="checkbox"
			class="h-6 w-6 mt-1"
			v-model="todo.completed"
			@change="$emits('formatRenderList')"
		/>
		<input class="text-lg w-full" v-model="todo.title" :readonly="!todo.edit" />
	</div>
	<div class="btns flex gap-4 w-max">
		<button
			type="button"
			class="btn-blue"
			:class="{ 'bg-red-500': todo.edit }"
			@click="$emits('editTodo', todo)"
		>
			<svg class="w-5 h-5">
				<use xlink:href="/stack/svg/sprite.stack.svg#edit"></use>
			</svg>
		</button>
		<button
			type="button"
			class="btn-blue"
			@click="$emits('deleteTodo', todo.id)"
		>
			<svg class="w-5 h-5">
				<use xlink:href="/stack/svg/sprite.stack.svg#delete"></use>
			</svg>
		</button>
	</div>
</template>
