<script setup></script>

<template>
  <div class="pt-20">
    <BreadCrumbs :pages="[{ name: '404', link: '/page-not-found' }]" />
    <section class="page-not-found flex justify-center items-center h-[calc(100vh_-_10rem)]">
      <div class="wrap max-w-[55rem] w-full flex flex-col items-center gap-10">
        <svg class="w-[100%] h-[100%] max-h-[13.9rem] fill-white-black">
          <use xlink:href="/stack/svg/sprite.stack.svg#404"></use>
        </svg>
        <div class="flex flex-col gap-[0.75rem] max-w-[18rem] items-center">
          <h2 class="text-5xl font-fontSecond md:text-xl">Ошибка</h2>
          <span class="text-base text-center"
            >К сожалению, запрашиваемая Вами станица не найдена</span
          >
          <RouterLink
            class="btn mr-auto flex items-center h-14 gap-[0.62rem] group/btn"
            to="/"
          >
            <div
              class="border border-white-black p-[1.12rem] w-[3.125rem] h-[3.125rem] transition-all duration-700 group-hover/btn:bg-white-black group-hover/btn:w-[0.375rem] group-hover/btn:h-[0.375rem] group-hover/btn:p-0"
            >
              <svg
                class="w-[0.875rem] h-[0.875rem] fill-white-black flex self-center transition-all duration-700 group-hover/btn:opacity-0"
              >
                <use xlink:href="/stack/svg/sprite.stack.svg#arrow"></use>
              </svg>
            </div>
            <div class="overflow-hidden">
              <span class="text-base">Вернуться на главную</span>
            </div>
          </RouterLink>
        </div>
      </div>
    </section>
  </div>
</template>
