<script setup>
import { Header, Footer } from '@/widgets'
import { fade } from '@/shared/transitions'
</script>

<template>
	<Header />
	<RouterView v-slot="{ Component, route }">
		<Transition v-bind="fade" mode="out-in">
			<main :key="route.name">
				<component :is="Component" />
			</main>
		</Transition>
	</RouterView>
	<Footer />

</template>
