@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-blue {
    @apply text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 max-h-12  font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800;
  }
}

* {
	box-sizing: border-box;
	outline: none;
}

@media (min-width: 1921px) {
	html {
		font-size: 0.8206vw !important;
	}
}

//! Прижать футер НАЧАЛО
* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
#app {
	height: 100%;
}
.app {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: unset !important;
	overflow-x: hidden;
}
main {
	flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}
//! Прижать футер КОНЕЦ

html,
body {
	width: 100%;
	font-family: 'FuturaPTBook';
	letter-spacing: 0px;
	font-weight: 400;
	line-height: normal;
	position: relative;
	scroll-behavior: smooth;
	/* background: #dcdcdc; */
}

// !Fonts
@font-face {
	src: url('/fonts/FuturaPTBook/FuturaPTBook.woff2') format('woff2'),
		url('/fonts/FuturaPTBook/FuturaPTBook.ttf') format('ttf'),
		url('/fonts/FuturaPTBook/FuturaPTBook.woff') format('woff');
	font-family: 'FuturaPTBook';
	font-weight: 300;
	font-display: swap;
}
