<script setup></script>

<template>
	<section>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet suscipit
		sunt doloremque quia perferendis fugiat quis blanditiis assumenda sed odit
		soluta, nostrum sint ipsam neque architecto reiciendis provident a.
		Accusantium, fugiat quos vero nam culpa odit repudiandae libero quam
		dolorum. Optio velit voluptatum sint perferendis quod consequuntur ipsum non
		doloribus, ea sed. Praesentium, facilis incidunt! Numquam modi omnis
		voluptates officia nesciunt rerum eveniet dolores quisquam fugit! Aliquam
		suscipit unde, vitae iusto et nesciunt atque aut sequi sunt quam pariatur
		impedit saepe? Natus, obcaecati non doloribus quis possimus quam adipisci
		officia modi suscipit illum. Cumque veniam officia voluptates laudantium
		provident non nobis nesciunt atque nemo labore facilis quam sapiente quidem
		doloribus rerum consequatur, maxime vitae laboriosam quod? Dolores magni
		expedita commodi nobis nulla cum? Quo excepturi nobis provident odit ea!
		Corporis iste repellat et possimus ducimus dolor quas saepe deleniti,
		quisquam mollitia delectus cupiditate ipsum amet enim architecto, quaerat
		suscipit illo quo blanditiis? Aperiam repellat modi fuga veritatis?
		Corrupti, dolorem cupiditate animi autem, maiores hic eum quam impedit iste
		sint facere inventore. Consequatur, repellendus! Iste placeat quibusdam
		molestiae, accusantium et vitae rerum error impedit cupiditate labore at
		dolore unde minus provident dolorem ipsam inventore! Cumque, eaque fuga
		voluptatem at et non sit dolor ab adipisci nemo corrupti officiis, aliquid
		facilis, soluta expedita! Quod, nam repudiandae! Repellendus aspernatur
		repellat accusantium voluptate nulla, aperiam consectetur.
	</section>
</template>
