<script setup></script>

<template>
	<div class="flex justify-center mt-10">
		<div
			class="flex gap-10 border border-color-b max-w-[80%] w-full px-5 py-10 md:flex-col"
		>
			<h1 class="text-3xl">TodoList Vue</h1>
			<div class="flex flex-col">
				<span class="text-blue-400 text-lg">Стек технологий:</span>
				<ol class="flex gap-8 flex-wrap list-decimal pl-7">
					<li class="text-lg">Vite</li>
					<li class="text-lg">Vue</li>
					<li class="text-lg">Vue-route</li>
					<li class="text-lg">Fetch</li>
					<li class="text-lg">Tailwind</li>
					<li class="text-lg">SVG-sprite</li>
				</ol>
			</div>
		</div>
	</div>
</template>
