<script setup>
import { ref, watch } from 'vue'

import { AddTask } from '@/features/add-task'
import { CardTodo } from '@/entities/card-todo'
import { EmptyTodo } from '@/shared/empty-todo'

const allTodos = []
const uncompletedTodos = ref([])
const completedTodos = ref([])
const page = ref(1)
const perPage = 8

watch(page, formatRenderList)

getAllTodos()

function saveTodos() {
	localStorage.setItem('todos', JSON.stringify(allTodos))
}

function getAllTodos() {
	const arr = JSON.parse(localStorage.getItem('todos'))

	if (arr) {
		Object.assign(allTodos, arr)

		formatRenderList()

		return
	}

	fetch('https://jsonplaceholder.typicode.com/todos/')
		.then(response => response.json())
		.then(body => {
			console.log()
			Object.assign(
				allTodos,
				Array.from(body, todo => ({
					...todo,
					edit: false,
				}))
			)
		})
		.then(formatRenderList)
}

function formatRenderList() {
	uncompletedTodos.value = allTodos
		.filter(todo => !todo.completed)
		.slice(0, page.value * perPage)

	completedTodos.value = allTodos
		.filter(todo => todo.completed)
		.slice(0, page.value * perPage)

	saveTodos()
}

function addTask(title) {
	allTodos.unshift({
		userId: 1,
		id: (allTodos.at(-1)?.id || 0) + 1,
		title: title,
		completed: false,
	})

	formatRenderList()
}

function deleteTodo(id) {
	const _id = allTodos.findIndex(todo => todo.id === id)
	allTodos.splice(_id, 1)
	formatRenderList()
}

function editTodo(todo) {
	todo.edit = !todo.edit

	saveTodos()
}
</script>

<template>
	<div class="mt-10 w-full px-5">
		<AddTask @addTask="addTask" />
		<div class="flex mt-20">
			<EmptyTodo :emptyTodo="!uncompletedTodos.length" />
			<div class="grid grid-cols-2 w-full gap-10 md:grid-cols-1">
				<ul class="task-list w-full flex flex-col gap-5">
					<li
						class="flex justify-between border-b border-color-b pb-4 gap-5"
						v-for="(todo, id) in uncompletedTodos"
						:key="id"
					>
						<CardTodo
							:todo="todo"
							@editTodo="editTodo"
							@deleteTodo="deleteTodo"
							@formatRenderList="formatRenderList"
						/>
					</li>
				</ul>
				<ul class="task-list w-full flex flex-col gap-5">
					<li
						class="flex justify-between border-b border-color-b pb-4 gap-5"
						v-for="(todo, id) in completedTodos"
						:key="id"
					>
						<CardTodo
							:todo="todo"
							@editTodo="editTodo"
							@deleteTodo="deleteTodo"
							@formatRenderList="formatRenderList"
						/>
					</li>
				</ul>
			</div>
		</div>
		<div
			class="text-lg mx-auto w-max mt-20 border-b border-color-b cursor-pointer hover:text-color-b transition-colors"
			@click="page++"
			v-if="allTodos.length !== uncompletedTodos.length + completedTodos.length"
		>
			Показать ещё
		</div>
	</div>
</template>
